body{
  font-family: Verdana, sans-serif;
  font-size: 13.5px;
  color: black;
}

input[type="text"], input[type="email"], textarea, select, button{
display: block;
margin: 15px 0px;
width: 400px;
box-sizing: border-box;
border-radius: 4px;
box-shadow: inset 2px 2px 5px grey;
}

textarea{
height: 200px;
background-color: lightblue;
padding: 5px 4px;
}

button:active{
background-color: lightgreen;
color: blue;
border-radius: 8px;
box-shadow: inset 2px 2px 5px green;
}

body{
background-color: #50C7C7;
}

ul a{
color: white;
text-decoration: none;
}
li{
display: inline-block;
height: 22px;
width: 100px;
padding: 12px;
text-align: center;
color: white;
border-left: 2px solid green;
border-right: 1px solid green;
background-color: olive;
}
li:hover{
background-color: lightgreen;
border-style: none;
}
h1{
margin-left: 200px;
}

table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
 }
th, td {
    padding: 5px;
}

.p1{
background-color: #EEB073;
width: 450px; height: 450px;
}

#footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* height of the footer*/
  height: 20px;
  background: #EEB073;
}
